.top-fixed {
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.9rem;
  padding: 0.5rem;
  a {
    color: #fff;
    span {
      color: #fff;
    }
  }
  .socail {
    a {
      margin-left: 10px;
      color: #fff;
    }
  }
}
#headers {
  font-family: "Anuphan", sans-serif;
  z-index: 3;
  -webkit-box-shadow: 1px 4px 5px 0px rgba(184, 184, 184, 1);
  -moz-box-shadow: 1px 4px 5px 0px rgba(184, 184, 184, 1);
  box-shadow: 1px 4px 5px 0px rgba(184, 184, 184, 1);
  // height: 70px;
  width: 100%;
  position: fixed;
  top: 37px;
  background: #fff;
  color: #000;
  .navbar {
    // height: 70px;
  }
  .form-inlines {
    display: flex;
    flex-direction: row;
    .nav-link {
      color: #ff8ba0;
      border-bottom: 1px solid #fff;
      transition: 0.25s;
      &:hover {
        color: #ff9899;
        font-weight: 600;
        border-bottom: 1px solid #ff9899;
        transition: 0.25s;
      }
    }
    @media #{$screen-md-max} {
      flex-direction: column;
    }
  }
  .menu-in {
    .item {
      display: block;
      padding: 0.5rem 1rem;
      color: #ff8ba0;
      a {
        color: #ff8ba0;
        margin-right: 0.5rem;
      }
      span {
        color: #ff8ba0;
      }
    }
    .comed{
      
    }
  }

  @media #{$screen-md-max} {
    top: 0px;
  }
}
