#product {
  margin-top: 50px;
  .pro-top {
    .img-cssa {
      //   max-width: 265px;
    }
    .text {
      position: relative;
      height: auto;
      text-align: left;
      padding-top: 50px;
      .head {
        p {
          font-size: 24px;
          font-weight: 500;
          padding-bottom: 10px;
        }
        span {
          font-weight: 100;
        }
      }

      .detail {
        padding: 15px;
        font-size: 17px;
      }
    }
    .button {
      position: absolute;
      bottom: 0;
      width: 45%;
      background: #808080;
      padding: 15px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      transition: 0.5s;
      border: 1px solid #808080;
      &:hover {
        transition: 0.5s;
        background: #fff;
        color: #808080;
        // transform: scale(1.01, 1.01);
        // border: 1px solid #808080;
      }
    }
  }
  .detail-info {
    margin-top: 100px;
    // text-align: center;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    .head {
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 80px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
    }
    .content {
      .item {
        padding-bottom: 50px;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        @include flex-direction(column);
      }
      .text-incenter {
        width: 100%;
        margin-top: 50px;
        font-size: 26px;
        color: #4d4d4d;
        text-align: center;

        span {
          width: 100%;
        }
        .blue {
          color: #01acd4;
        }
        .text-left {
          text-align: left;
        }
        small {
          font-size: 14px;
        }
      }
      .headt {
        width: 100%;
      }
      .text-in {
        width: 100%;
        // margin-top: 50px;
        font-size: 26px;
        color: #4d4d4d;
        line-height: 1.2;

        span {
          width: 100%;
        }
        .blue {
          color: #01acd4;
        }
        .text-left {
          text-align: left;
        }
        small {
          font-size: 14px;
        }
      }
    }
  }
}

.sec-success{
  width: 100%;
  float: left;
  position: relative;
  padding: 50px 0;

  .block-success {
    float: left;
    width: 100%;
    border-radius: 10px;
    padding: 100px 40px;
    @include box-shadow(0px, 0px, 19px, 0px, rgba(0, 0, 0, 0.1));
    @media #{$screen-xs-max} {
      padding:40px;
    }
    .group-content {
      padding: 20px 0;
      h3{
        color: #ffcba5;
      }
      p span{
        color: #ff9899;
        font-weight: bold;
      }

      a .btn{
        color: #ff9899;
      }
    }
    
  }

}

.sec-login{
  width: 100%;
  height: 100%;
  float: left;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  @include flexbox;
  @include align-items(center);
  z-index: -1;
  .block-overlay { position:fixed; top:0px; left:0px; width:100%; height:100%; background-color:rgba(255,255,255,0.8); display:none;z-index: 0; }
  .btn-close{
    background-color: #fff;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    border:1px solid #000;
    float: right;
    text-decoration: none;
    color: #000;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
  .block-login{
    float: left;
    width: 100%;
    border-radius: 10px;
    padding: 40px;
    @include box-shadow(0px, 0px, 19px, 0px, rgba(0, 0, 0, 0.1));
    .form-group{
      input{
        border-radius: 100px;
        width: 100%;
        color: #000;
        border:1px solid #eee;
        background-color:#fff;
        padding: 15px 20px;
        outline: none;
        &:focus {
          border:1px solid #eee;
          background-color: #fff;
          color: #000;
          
        }
      }

    }
  }

}
.sec-login.fade.show{z-index: 20;} 
.sec-register.fade.show{z-index: 20;} 
.block-close {
  width: 100%;
  float: left;
}
.sec-register{
  width: 100%;
  height: 100%;
  float: left;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  @include flexbox;
  @include align-items(center);
  z-index: -1;
  .block-overlay { position:fixed; top:0px; left:0px; width:100%; height:100%; background-color:rgba(255,255,255,0.8); display:none;z-index: 0; }
  .btn-close{
    background-color: #fff;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    border:1px solid #000;
    float: right;
    text-decoration: none;
    color: #000;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
  }
  .block-register{
    float: left;
    width: 100%;
    border-radius: 10px;
    padding: 40px;
    @include box-shadow(0px, 0px, 19px, 0px, rgba(0, 0, 0, 0.1));
    .form-group{
      input{
        border-radius: 100px;
        width: 100%;
        color: #000;
        border:1px solid #eee;
        background-color:#fff;
        padding: 15px 20px;
        outline: none;
        &:focus {
          border:1px solid #eee;
          background-color: #fff;
          color: #000;
          
        }
      }
     

    }
    .form-check{
      float: left;
      padding-left: 0;
    }
  }

}
.sec-article-content {
.content-creater{
    width: 100%;
    float: left;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  .thumb-nails{
    width: 100%;
    @include flexbox;
    @include align-items(center);
    img{
      width: 40px;
      height: 40px;
      object-fit: cover;
      float: left;
      border-radius: 50px;
      @media #{$screen-xs-max} {
       width:  calc(40px + 10px);
      }
     
    }
    .thumb-nails-body{
      width: 100%;
      padding-left: 10px;
    }
  }

  .stat{
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
    width: 100%;
    float: right;
    @media #{$screen-xs-max} {
      display: block;
      text-align: right;
    }
    .view-result{
      margin-right: 10px;
    }
  }
}
.article-detail{
  .group-content{
    img{
      width: 100%;
      float: left;
    }
    img,h1,h2,h3,h4,h5,h6,p{
      padding-bottom:20px;
    }
    h1,h2,h3,h4,h5,h6,p{
      padding:0 40px;
      @media #{$screen-xs-max} {
        padding:0 ;
      }
    }
  }
}
}
.sec-banner {
  position: relative;
  @include flexbox;
  @include align-items(center);
  @include justify-content(end);

  .banner-title{
  position: absolute;    
  width: 100%;
  padding: 100px;
  @media #{$screen-xs-max} {
    padding: 0;
  }
    .group-content {
      h1,h2,h3,h4,h5,h6,p,span{
        color: #fff;
        font-weight: 900;
      }
      
    }
    .breadcrumb {
      padding: 0;
      width: 100%;
      background-color: transparent;
      .breadcrumb-item{
        color: #fff;
        a{
          color: #fff;
          text-decoration: none;
        }
        &hover{
          text-decoration: none;
        }
        .active{
          color: #fff;
        }
      }
      
      .breadcrumb-item+.breadcrumb-item::before {
        color: #fff;
        content: ">>";
      }
    }
  }
}

.sec-article-card{
  .card{
    border: none;
    border-radius: 20px;
    @include box-shadow(0px, 0px, 19px, 0px, rgba(0, 0, 0, 0.1));
    overflow: hidden;
    .card-body{
      float: left;
    }

    .block-btn-bottom{
      position: absolute;
    right: 2rem;
    bottom: 2rem;
    }
  }
  .content-creater{
    width: 100%;
    float: left;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
  .thumb-nails{
    width: 100%;
    @include flexbox;
    @include align-items(center);
    img{
      width: 40px;
      height: 40px;
      object-fit: cover;
      float: left;
      border-radius: 50px;
      @media #{$screen-xs-max} {
       width:  calc(40px + 10px);
      }
     
    }
    .thumb-nails-body{
      width: 100%;
      padding-left: 10px;
    }
  }

  .stat{
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
    width: 100%;
    float: right;
    @media #{$screen-xs-max} {
      display: block;
      text-align: right;
    }
    .view-result{
      margin-right: 10px;
    }
  }
}

}