/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-ms-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-o-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-webkit-keyframes loadingD {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes loadingD {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes loadingD {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes loadingD {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loadingD {
  0% {
    -webkit-transform: rotate(0deg);
    -khtml-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    -khtml-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -khtml-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-family: 'Anuphan', sans-serif;
  line-height: 1.5;
  color: #ff9899; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.img-fluid {
  display: block;
  max-width: 100%; }

*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Anuphan", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-size: 1em;
  color: #000; }

@media (min-width: 1600px) {
  .container {
    max-width: 1280px; } }

.color-white {
  color: #ffffff !important; }

.color-k02 {
  color: #b39543 !important; }

.d-inline-block {
  display: inline-block; }

.text-decoration-none {
  text-decoration: none; }
  .text-decoration-none:hover {
    text-decoration: underline !important; }

#headers {
  font-family: "Anuphan", sans-serif;
  z-index: 2;
  color: #000; }
  #headers .form-inlines {
    display: flex;
    flex-direction: row; }
    #headers .form-inlines .nav-link {
      color: #ff8ba0;
      border-bottom: 1px solid #fff;
      transition: 0.25s; }
      #headers .form-inlines .nav-link:hover {
        color: #ff9899;
        font-weight: 600;
        border-bottom: 1px solid #ff9899;
        transition: 0.25s; }
    @media (max-width: 991px) {
      #headers .form-inlines {
        flex-direction: column; } }

#footer {
  background: #c0c0c0;
  padding: 2vw 7vw; }

#aboutus {
  font-size: 0.75rem;
  background: #292510 url("../images/aboutus/bg.png") no-repeat center center;
  background-size: cover;
  color: #ffffff;
  padding-top: 2em;
  padding-bottom: 2em; }
  @media (min-width: 992px) {
    #aboutus {
      padding-top: 3.5em;
      padding-bottom: 3.5em; } }
  #aboutus .row {
    margin-left: -5px;
    margin-right: -5px; }
    @media (min-width: 576px) {
      #aboutus .row {
        margin-left: -15px;
        margin-right: -15px; } }
    #aboutus .row div[class^='col-'] {
      padding-left: 5px;
      padding-right: 5px; }
      @media (min-width: 576px) {
        #aboutus .row div[class^='col-'] {
          padding-left: 15px;
          padding-right: 15px; } }
  #aboutus .logo {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 140px; }
  #aboutus .box-aboutus {
    position: relative;
    padding-bottom: 1.2em; }
    @media (min-width: 992px) {
      #aboutus .box-aboutus {
        padding-left: 2em;
        margin-top: 2em; } }
    #aboutus .box-aboutus:after {
      display: none; }
      @media (min-width: 992px) {
        #aboutus .box-aboutus:after {
          display: block;
          content: '';
          width: 1px;
          position: absolute;
          top: 0.8em;
          left: 0;
          height: 3em;
          border-left: solid 1px #b39543; } }
    #aboutus .box-aboutus.box-aboutus-line {
      padding-top: 1.2em;
      padding-bottom: 0; }
      @media (min-width: 992px) {
        #aboutus .box-aboutus.box-aboutus-line {
          padding-top: 0;
          padding-bottom: 1.2em; } }
      #aboutus .box-aboutus.box-aboutus-line:before {
        content: '';
        width: 3em;
        position: absolute;
        top: 0;
        height: 1px;
        border-bottom: solid 1px #b39543;
        display: block; }
        @media (min-width: 992px) {
          #aboutus .box-aboutus.box-aboutus-line:before {
            display: none; } }
    #aboutus .box-aboutus h3 {
      font-size: 1.2rem; }
      @media (min-width: 992px) {
        #aboutus .box-aboutus h3 {
          font-size: 1.5rem;
          padding-bottom: 0.3em; } }
    #aboutus .box-aboutus strong {
      display: block; }
      @media (min-width: 992px) {
        #aboutus .box-aboutus strong {
          display: inline-block; } }

@font-face {
  font-family: "Anuphan";
  src: url("../fonts/Anuphan-ExtraLight.eot");
  src: url("../fonts/Anuphan-ExtraLight.eot?#iefix") format("embedded-opentype"), url("Anuphan-ExtraLight.woff2") format("woff2"), url("Anuphan-ExtraLight.woff") format("woff"), url("Anuphan-ExtraLight.ttf") format("truetype"), url("Anuphan-ExtraLight.svg#Anuphan-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Anuphan";
  src: url("../fonts/Anuphan-Light.eot");
  src: url("../fonts/Anuphan-Light.eot?#iefix") format("embedded-opentype"), url("Anuphan-Light.woff2") format("woff2"), url("Anuphan-Light.woff") format("woff"), url("Anuphan-Light.ttf") format("truetype"), url("Anuphan-Light.svg#Anuphan-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Anuphan";
  src: url("../fonts/Anuphan-Bold.eot");
  src: url("../fonts/Anuphan-Bold.eot?#iefix") format("embedded-opentype"), url("Anuphan-Bold.woff2") format("woff2"), url("Anuphan-Bold.woff") format("woff"), url("Anuphan-Bold.ttf") format("truetype"), url("Anuphan-Bold.svg#Anuphan-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Anuphan";
  src: url("../fonts/Anuphan-Medium.eot");
  src: url("../fonts/Anuphan-Medium.eot?#iefix") format("embedded-opentype"), url("Anuphan-Medium.woff2") format("woff2"), url("Anuphan-Medium.woff") format("woff"), url("Anuphan-Medium.ttf") format("truetype"), url("Anuphan-Medium.svg#Anuphan-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Anuphan";
  src: url("../fonts/Anuphan-SemiBold.eot");
  src: url("../fonts/Anuphan-SemiBold.eot?#iefix") format("embedded-opentype"), url("Anuphan-SemiBold.woff2") format("woff2"), url("Anuphan-SemiBold.woff") format("woff"), url("Anuphan-SemiBold.ttf") format("truetype"), url("Anuphan-SemiBold.svg#Anuphan-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Anuphan";
  src: url("../fonts/Anuphan-Regular.eot");
  src: url("../fonts/Anuphan-Regular.eot?#iefix") format("embedded-opentype"), url("Anuphan-Regular.woff2") format("woff2"), url("Anuphan-Regular.woff") format("woff"), url("Anuphan-Regular.ttf") format("truetype"), url("Anuphan-Regular.svg#Anuphan-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Anuphan";
  src: url("../fonts/Anuphan-Thin.eot");
  src: url("../fonts/Anuphan-Thin.eot?#iefix") format("embedded-opentype"), url("Anuphan-Thin.woff2") format("woff2"), url("Anuphan-Thin.woff") format("woff"), url("Anuphan-Thin.ttf") format("truetype"), url("Anuphan-Thin.svg#Anuphan-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
.fw {
  float: left;
  width: 100%; }

.justify-content-flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

.group-content {
  float: left;
  width: 100%;
  font-size: 1em;
  line-height: 2;
  padding: 10px 0; }
  @media (max-width: 991px) {
    .group-content {
      font-size: 1.4vh; } }

.group-content h1,
.group-content h2,
.group-content h3,
.group-content h4,
.group-content h5,
.group-content h6 {
  color: #222222;
  font-family: 'Anuphan', sans-serif;
  margin-bottom: 7px;
  line-height: 1.2;
  font-weight: 600; }

.group-content h1 {
  font-size: 3em; }

.group-content h2 {
  font-size: 2.5em; }

.group-content h3 {
  font-size: 2em; }

.group-content h4 {
  font-size: 1.5em; }

.group-content h5 {
  font-size: 1.125em; }

.group-content h6 {
  font-size: 1em; }

.group-content p {
  line-height: 1.6;
  font-weight: 300; }

.group-content a:not([class*=btn]) {
  color: #f5a1a1; }

.group-content input {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 100px;
  padding: 5px 20px; }

.pt-1 {
  padding-top: 10px; }

.pt-5 {
  padding-top: 20px; }

.pt-3 {
  padding-top: 30px; }

.pt-4 {
  padding-top: 40px; }

.pt-5 {
  padding-top: 50px; }

.pt-6 {
  padding-top: 60px; }

.ptb-1 {
  padding: 10px 0; }

.ptb-5 {
  padding: 20px 0; }

.ptb-3 {
  padding: 30px 0; }

.ptb-4 {
  padding: 40px 0; }

.ptb-5 {
  padding: 50px 0; }

.ptb-6 {
  padding: 60px 0; }

.pb-1 {
  padding-bottom: 10px 0; }

.pb-5 {
  padding-bottom: 20px 0; }

.pb-3 {
  padding-bottom: 30px 0; }

.pb-4 {
  padding-bottom: 40px 0; }

.pb-5 {
  padding-bottom: 50px 0; }

.pb-6 {
  padding-bottom: 60px 0; }

a span {
  color: #222; }

button {
  outline: none !important; }
  button:hover {
    outline: none !important; }
  button:focus {
    outline: none !important; }

.btn {
  background: #ffcbc4;
  border-radius: 100px;
  padding: 0.8em 2em 0.8em;
  color: #fff;
  font-size: 0.8em;
  min-width: 200px;
  transition: all ease .4s;
  text-transform: uppercase;
  line-height: 1.2;
  border: 1px solid #ffcba5;
  outline: none !important; }
  @media (max-width: 991px) {
    .btn {
      min-width: auto; } }
  .btn:hover {
    background: #fff;
    color: #f5a1a1;
    border: 1px solid #f5a1a1;
    outline: none !important; }
  .btn:focus {
    outline: none !important; }

.sec-collection .sidebar-expanded .list-group .list-group-item {
  border: none; }
.sec-collection .sidebar-expanded .list-group .collapse.show {
  border-bottom: 1px solid #e9ecef; }
.sec-collection .sidebar-expanded .list-head-toggle {
  padding-left: 0;
  font-weight: 800;
  font-size: 1.125em;
  background-color: transparent; }
  .sec-collection .sidebar-expanded .list-head-toggle::after {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent; }
.sec-collection .filler-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  float: left; }
  .sec-collection .filler-box .bootstrap-select .btn {
    background-color: transparent;
    border: none;
    color: #222222;
    font-weight: 200;
    padding: 12px 12px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: none !important;
    text-transform: none; }
    .sec-collection .filler-box .bootstrap-select .btn:focus {
      outline: none; }
  .sec-collection .filler-box .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 140px; }
  .sec-collection .filler-box .filter-option-inner-inner {
    font-weight: 800; }
  .sec-collection .filler-box .dropdown-item.active, .sec-collection .filler-box .dropdown-item:active {
    background-color: #e9ecef; }

.thumb-product {
  width: 100%;
  position: relative;
  float: left;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
  box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.29); }
  .thumb-product .thumb-body {
    float: left;
    width: 100%;
    padding: 10px 20px; }
    .thumb-product .thumb-body .thumb-title {
      font-weight: 600; }

.section-banner {
  position: relative;
  padding-bottom: 80px; }
  @media (min-width: 576px) {
    .section-banner {
      padding-bottom: 100px; } }
  @media (min-width: 992px) {
    .section-banner {
      padding-top: 80px; } }
  .section-banner .banner .img-m {
    display: block; }
    @media (min-width: 992px) {
      .section-banner .banner .img-m {
        display: none; } }
  .section-banner .banner .img-d {
    display: none; }
    @media (min-width: 992px) {
      .section-banner .banner .img-d {
        display: block; } }
  .section-banner .our-banner {
    width: 100%;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 100px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 100px;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 0;
    overflow: hidden;
    position: relative; }
    .section-banner .our-banner .head {
      position: absolute;
      top: 50%;
      -webkit-transform: translate3d(0%, -50%, 0);
      -moz-transform: translate3d(0%, -50%, 0);
      -o-transform: translate3d(0%, -50%, 0);
      transform: translate3d(0%, -50%, 0);
      text-align: center;
      width: 100%; }
      .section-banner .our-banner .head h3 {
        font-size: 3.3rem;
        font-weight: 900;
        color: #ffffff;
        font-family: "Mitr"; }
      .section-banner .our-banner .head h4 {
        font-size: 1.5rem;
        color: #b39543; }
  .section-banner .scroll {
    width: 120px;
    height: 64px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    -khtml-transform: translate(-50%, -50%) rotate(-90deg);
    -moz-transform: translate(-50%, -50%) rotate(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    -o-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
    -khtml-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
    @media (min-width: 576px) {
      .section-banner .scroll {
        width: 150px;
        height: 80px; } }
    .section-banner .scroll .cycle {
      width: 64px;
      height: 64px;
      background: #ffffff;
      position: absolute;
      top: 0%;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0%, 0);
      -moz-transform: translate3d(-50%, 0%, 0);
      -o-transform: translate3d(-50%, 0%, 0);
      transform: translate3d(-50%, 0%, 0);
      -webkit-border-radius: 100%;
      -khtml-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%; }
      @media (min-width: 576px) {
        .section-banner .scroll .cycle {
          width: 80px;
          height: 80px; } }
    .section-banner .scroll .text {
      font-size: 0.95rem;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 0%;
      -webkit-transform: translate3d(0%, -50%, 0);
      -moz-transform: translate3d(0%, -50%, 0);
      -o-transform: translate3d(0%, -50%, 0);
      transform: translate3d(0%, -50%, 0);
      color: #b39543;
      width: 50%;
      text-align: right; }
    .section-banner .scroll .line {
      width: 40%;
      height: 1px;
      border-bottom: solid 1px #b39543;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%; }

.section {
  width: 100%;
  background: #fff; }
  .section .swiper-container {
    width: 100%;
    height: 100%; }
  .section .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .section .swiper-pagination .swiper-pagination-bullet-active {
    background: #c0c0c0; }
  .section #bestseller {
    margin-top: 50px;
    padding-bottom: 100px; }
    .section #bestseller .text-sell {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
      .section #bestseller .text-sell .head span {
        font-weight: 200;
        font-size: 1rem; }
      .section #bestseller .text-sell .head h2 {
        font-size: 1.5rem; }
    .section #bestseller .bestsell .swiper-slide img {
      transition: 0.3s; }
      .section #bestseller .bestsell .swiper-slide img:hover {
        border: 5px #c0c0c0 solid;
        transition: 0.3s; }
  .section #product {
    margin-top: 50px; }
    .section #product .head {
      text-align: center;
      font-size: 2rem; }
    .section #product .in-product {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .section #product .in-product .item {
        text-decoration: none;
        color: #000;
        padding: 10px;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%; }
        .section #product .in-product .item .intext {
          line-height: 1;
          padding: 15px; }
          .section #product .in-product .item .intext span {
            font-weight: 200;
            font-size: 0.8rem;
            line-height: 1; }
  .section #about {
    background: #f1f1f1;
    margin-top: 30px;
    height: 600px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .section #about .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      align-items: flex-start; }
    .section #about .headte {
      padding: 2rem 2rem 2rem 7rem;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
    .section #about .imgabb {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
      .section #about .imgabb .img-about {
        background: url("../images/section/about.jpg") no-repeat top center;
        background-size: cover;
        height: 600px; }

.section-06 {
  padding-top: 3em;
  padding-bottom: 3em;
  background: #ffffff; }
  @media (min-width: 992px) {
    .section-06 {
      padding-top: 8em;
      padding-bottom: 6em;
      background: url("../images/Layer-426.png") no-repeat center 400px; } }
  .section-06 .logo {
    margin-top: 6px; }
  .section-06 .col-logo {
    background: url("../images/Layer-426.png") no-repeat; }
    @media (min-width: 992px) {
      .section-06 .col-logo {
        display: none; } }
  @media (min-width: 992px) {
    .section-06 .section-06-box {
      border: solid 1px #f4d533;
      -webkit-border-radius: 1em;
      -khtml-border-radius: 1em;
      -moz-border-radius: 1em;
      -ms-border-radius: 1em;
      -o-border-radius: 1em;
      border-radius: 1em;
      padding: 15px;
      background: #ffffff url("../images/bg-singha.png") no-repeat center right;
      background-size: 15%;
      -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px;
      -khtml-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px;
      -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px;
      -ms-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px;
      -o-box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 0px -2px; } }
  @media (min-width: 992px) {
    .section-06 .text-detail {
      max-width: 560px;
      margin: 0 auto;
      position: relative; } }
  .section-06 .text-detail .text-detail-head {
    padding: 0.3em 0.8em 0.3em 0;
    position: relative; }
    @media (min-width: 992px) {
      .section-06 .text-detail .text-detail-head {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -moz-transform: translate3d(0, -100%, 0);
        -o-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        width: 100%;
        background: #ffffff;
        padding-left: 180px; }
        .section-06 .text-detail .text-detail-head .line-l {
          display: none; } }
    @media (min-width: 992px) and (min-width: 992px) {
      .section-06 .text-detail .text-detail-head .line-l {
        border-right: solid 1px #f4d533;
        content: "";
        position: absolute;
        top: 55%;
        left: -20px;
        width: 1px;
        height: 50%;
        display: block; } }
    @media (min-width: 992px) {
        .section-06 .text-detail .text-detail-head .line-r {
          display: none; } }
    @media (min-width: 992px) and (min-width: 992px) {
      .section-06 .text-detail .text-detail-head .line-r {
        border-right: solid 1px #f4d533;
        content: "";
        position: absolute;
        top: 55%;
        right: -20px;
        width: 1px;
        height: 50%;
        display: block; } }

    .section-06 .text-detail .text-detail-head h3 {
      font-size: 1rem;
      color: #25355b; }
    .section-06 .text-detail .text-detail-head h4 {
      font-size: 1.4rem;
      color: #25355b; }
    .section-06 .text-detail .text-detail-head .logo {
      display: none; }
      @media (min-width: 992px) {
        .section-06 .text-detail .text-detail-head .logo {
          display: block;
          position: absolute;
          top: 10px;
          left: 30px;
          width: 140px; } }
    @media (min-width: 992px) {
      .section-06 .text-detail .text-detail-head .text {
        border-left: solid 1px #b39543;
        padding-left: 15px; } }
    .section-06 .text-detail .text-detail-head:after {
      border-right: solid 1px #b39543;
      content: "";
      position: absolute;
      top: 10%;
      left: -10px;
      width: 1px;
      height: 80%; }
      @media (min-width: 992px) {
        .section-06 .text-detail .text-detail-head:after {
          display: none; } }
  @media (min-width: 992px) {
    .section-06 .text-detail .text-detail-body {
      padding-top: 1em;
      padding-bottom: 2em; } }
  .section-06 .text-detail .text-detail-body ul li {
    background: #fff;
    padding: 0.3em 0.8em;
    margin-top: 1em; }
    @media (min-width: 992px) {
      .section-06 .text-detail .text-detail-body ul li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; } }
    @media (min-width: 1200px) {
      .section-06 .text-detail .text-detail-body ul li {
        margin-left: -30px;
        margin-right: -30px;
        padding: 0.5em 0.8em; } }
    .section-06 .text-detail .text-detail-body ul li label {
      display: block;
      font-size: 1.2rem;
      font-weight: 100;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
      @media (min-width: 992px) {
        .section-06 .text-detail .text-detail-body ul li label {
          font-size: 1rem; } }
      @media (min-width: 1200px) {
        .section-06 .text-detail .text-detail-body ul li label {
          padding-left: 20px; } }
    .section-06 .text-detail .text-detail-body ul li em {
      display: block;
      font-size: 1rem;
      font-weight: 100;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      position: relative; }
      @media (min-width: 992px) {
        .section-06 .text-detail .text-detail-body ul li em {
          padding-left: 30px; }
          .section-06 .text-detail .text-detail-body ul li em:before {
            content: "";
            position: absolute;
            top: 10%;
            left: 0;
            height: 80%;
            width: 1px;
            border-left: solid 1px #ebebeb; } }
    .section-06 .text-detail .text-detail-body ul li:nth-child(odd) {
      background: #f9f9f9;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }

.welcome {
  padding-top: 2rem; }
  .welcome .head-top {
    padding-bottom: 2rem; }
    .welcome .head-top p {
      font-size: 1.5rem; }
    .welcome .head-top h2 {
      font-size: 2.5rem;
      font-weight: 600; }
  .welcome .tent {
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0px 8px -2px #7d7d7d;
    -moz-box-shadow: 0px 0px 8px -2px #7d7d7d;
    box-shadow: 0px 0px 8px -2px #7d7d7d; }
    .welcome .tent .img-welcome {
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem; }
      @media (max-width: 991px) {
        .welcome .tent .img-welcome {
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 0rem;
          border-top-right-radius: 1rem; } }
    .welcome .tent .text-rightt {
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      display: flex;
      flex-direction: column;
      position: relative; }
      .welcome .tent .text-rightt .headtop {
        margin-top: 30px;
        font-size: 3rem; }
        @media (max-width: 991px) {
          .welcome .tent .text-rightt .headtop {
            font-size: 1.5rem;
            margin-top: 20px; } }
      .welcome .tent .text-rightt .textbottom {
        margin-top: 30px;
        font-size: 1rem; }
        @media (max-width: 991px) {
          .welcome .tent .text-rightt .textbottom {
            font-size: 0.8rem;
            margin-top: 15px; } }
      .welcome .tent .text-rightt .button {
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem; }
        @media (max-width: 991px) {
          .welcome .tent .text-rightt .button {
            position: relative;
            right: 0;
            bottom: 0;
            margin-top: 1.5rem; } }
      @media (max-width: 991px) {
        .welcome .tent .text-rightt {
          border-top-right-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          padding-bottom: 1.5rem; } }
    @media (max-width: 991px) {
      .welcome .tent {
        flex-direction: column;
        border-radius: 1rem; } }

.ourservice {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .ourservice .head-top {
    padding-bottom: 2rem; }
    .ourservice .head-top p {
      font-size: 1.5rem; }
    .ourservice .head-top h2 {
      font-size: 2.5rem;
      font-weight: 600; }
  .ourservice .tent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .ourservice .tent .item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      padding: 0.5rem; }
      .ourservice .tent .item img {
        border-radius: 1rem;
        -webkit-box-shadow: 0px 0px 5px 0px #e6e6e6;
        -moz-box-shadow: 0px 0px 5px 0px #e6e6e6;
        box-shadow: 0px 0px 5px 0px #e6e6e6; }
      @media (max-width: 991px) {
        .ourservice .tent .item {
          -webkit-box-flex: 0;
          -webkit-flex: 0 0 50%;
          -moz-box-flex: 0;
          -moz-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
          flex: 0 0 50%; } }
    @media (max-width: 991px) {
      .ourservice .tent {
        border-radius: 1rem; } }

#product {
  margin-top: 50px; }
  #product .pro-top .text {
    position: relative;
    height: auto;
    text-align: left;
    padding-top: 50px; }
    #product .pro-top .text .head p {
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 10px; }
    #product .pro-top .text .head span {
      font-weight: 100; }
    #product .pro-top .text .detail {
      padding: 15px;
      font-size: 17px; }
  #product .pro-top .button {
    position: absolute;
    bottom: 0;
    width: 45%;
    background: #808080;
    padding: 15px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid #808080; }
    #product .pro-top .button:hover {
      transition: 0.5s;
      background: #fff;
      color: #808080; }
  #product .detail-info {
    margin-top: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    #product .detail-info .head {
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 80px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center; }
    #product .detail-info .content .item {
      padding-bottom: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    #product .detail-info .content .text-incenter {
      width: 100%;
      margin-top: 50px;
      font-size: 26px;
      color: #4d4d4d;
      text-align: center; }
      #product .detail-info .content .text-incenter span {
        width: 100%; }
      #product .detail-info .content .text-incenter .blue {
        color: #01acd4; }
      #product .detail-info .content .text-incenter .text-left {
        text-align: left; }
      #product .detail-info .content .text-incenter small {
        font-size: 14px; }
    #product .detail-info .content .headt {
      width: 100%; }
    #product .detail-info .content .text-in {
      width: 100%;
      font-size: 26px;
      color: #4d4d4d;
      line-height: 1.2; }
      #product .detail-info .content .text-in span {
        width: 100%; }
      #product .detail-info .content .text-in .blue {
        color: #01acd4; }
      #product .detail-info .content .text-in .text-left {
        text-align: left; }
      #product .detail-info .content .text-in small {
        font-size: 14px; }

/*# sourceMappingURL=style.css.map */
